.idea
__pycache__
/config/__pycache__
/support_bot/__pycache__
/contact/__pycache__
/support_bot/migrations/*
!/support_bot/migrations/__init__.py
/db.sqlite3
/static/*
/media/*
/venv/
/__pycache__/
*/__pycache__/